* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --paleBlue: hsl(243, 100%, 93%);
  --grayishBlue: hsl(229, 7%, 55%);
  --darkBlue: hsl(228, 56%, 26%);
  --veryDarkBlue: hsl(229, 57%, 11%);
  --gradient1: hsl(6, 100%, 80%);
  --gradient2: hsl(335, 100%, 65%);
}

body {
  font-family: 'Raleway', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 1;
  min-height: 100vh;
  background: var(--veryDarkBlue);
  background-image: url(./../images/bg-desktop.png);
  background-repeat: no-repeat;
  background-size: 1950px 480px;
  background-position: center bottom;
}

h1 {
  font-size: 9px;
  font-weight: 400;
  color: var(--paleBlue);
  margin-bottom: 10px;
}

h3 {
  font-size: 9px;
  font-weight: 700;
  color: var(--paleBlue);
  margin-top: 10px;
}

span {
  font-weight: 700;
}

.storage {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  max-width: 1100px;
  margin: auto;
  padding: 50px;
  gap: 30px;
}

.uploadSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 140px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
  border-radius: 10px 80px 10px 10px;
  background: var(--darkBlue);
}

.uploadSection .logo {
  width: 90px;
}

.uploadSection .files {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 1rem;
  gap: 10px;
  margin-right: 60px;
}

.uploadSection .square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2rem;
  width: 2rem;
  border: 10px solid var(--veryDarkBlue);
  border-radius: 7px;
  background-color: var(--veryDarkBlue);
}

.uploadSection .click {
  width: 1rem;
}

.capacity {
  -ms-flex-item-align: end;
      align-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  padding: 30px;
  height: 110px;
  min-width: 390px;
  background: var(--darkBlue);
}

.capacity .bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.capacity .bar .bar__gradient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  border-radius: 25px;
  background: var(--veryDarkBlue);
}

.capacity .bar .bar__gradient .barEnd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-radius: 25px;
  margin: 3px;
  width: 80%;
  background: -webkit-gradient(linear, left top, right top, from(var(--gradient1)), to(var(--gradient2)));
  background: linear-gradient(90deg, var(--gradient1) 0%, var(--gradient2) 100%);
}

.capacity .bar .bar__gradient .barEnd .barCircle {
  border-radius: 25px;
  background: white;
  margin: auto 1px;
  height: 12px;
  width: 12px;
}

.capacity .bar .gygas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.remainGb {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 131px;
  right: 31px;
  top: -36px;
  color: var(--veryDarkBlue);
  border-radius: 10px;
  background: white;
  font-weight: 700;
  font-size: 2rem;
}

.remainGb .gb {
  margin-left: 10px;
  font-size: 0.5rem;
  font-weight: 700;
}

.remainGb .triangle {
  position: absolute;
  top: 41px;
  right: 0px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 26px 26px 0;
  border-color: transparent #ffffff transparent transparent;
}

@media (max-width: 768px) {
  body {
    background-image: url(./../images/bg-mobile.png);
    background-size: cover;
  }
  h1 {
    font-size: 14px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 15px;
  }
  .storage {
    display: -ms-grid;
    display: grid;
    gap: 15px;
    -ms-grid-columns: 322px;
        grid-template-columns: 322px;
    padding: 10px;
  }
  .bar {
    margin-bottom: 20px;
  }
  .uploadSection {
    max-width: 360px;
    height: 185px;
  }
  .uploadSection .files {
    gap: 20px;
  }
  .uploadSection .logo {
    width: 137px;
    margin-top: 1rem;
  }
  .uploadSection .square {
    height: 2.7rem;
    width: 2.7rem;
  }
  .uploadSection .click {
    width: 1.5rem;
  }
  .capacity {
    max-width: 360px;
    min-width: 50px;
    height: 140px;
  }
  .remainGb {
    right: 81px;
    top: 106px;
    height: 70px;
    width: 160px;
  }
  .remainGb .gb {
    font-size: 0.8rem;
  }
  .remainGb .triangle {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */