//global
@import "_global.scss";


//color
:root {
    --paleBlue: hsl(243, 100%, 93%);
    --grayishBlue: hsl(229, 7%, 55%);
    --darkBlue: hsl(228, 56%, 26%);
    --veryDarkBlue: hsl(229, 57%, 11%);
    --gradient1: hsl(6, 100%, 80%);
    --gradient2: hsl(335, 100%, 65%);

}

hmtl,
body {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    display: flex;
    font-size: 14px;
    line-height: 1;
    min-height: 100vh;
    background: var(--veryDarkBlue);
    background-image: url(./../images/bg-desktop.png);
    background-repeat: no-repeat;
    background-size: 1950px 480px;
    background-position: center bottom;

}

h1 {
    font-size: 11px;
    font-weight: 400;
    color: var(--paleBlue);
    margin-bottom: 10px;
}

h2 {
    font-size: 12px;
    font-weight: 700;
    color: var(--paleBlue);
    margin-top: 10px;
}

span {
    font-weight: 700;
}

//tarjetas 

.storage {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1100px;
    margin: auto;
    padding: 50px;
    gap: 30px;

}

.uploadSection {
    display: flex;
    flex-direction: column;
    height: 140px;
    justify-content: space-between;
    padding: 30px;
    border-radius: 10px 80px 10px 10px;
    background: var(--darkBlue);

    .logo {
        width: 90px;
    }

    .files {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        gap: 10px;
        margin-right: 60px;
    }

    .square {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;
        width: 2rem;
        border: 10px solid var(--veryDarkBlue);
        border-radius: 7px;
        background-color: var(--veryDarkBlue);
    }

    .click {

        width: 1rem;

    }
}


.capacity {
    align-self: end;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    border-radius: 10px;
    padding: 30px;
    height: 110px;
    min-width: 390px;
    background: var(--darkBlue);

    .bar {
        display: flex;
        flex-direction: column;

        .bar__gradient {
            display: flex;
            height: 20px;
            border-radius: 25px;
            background: var(--veryDarkBlue);

            .barEnd {
                display: flex;
                justify-content: flex-end;
                border-radius: 25px;
                margin: 3px;
                width: 80%;
                background: linear-gradient(90deg, var(--gradient1) 0%, var(--gradient2) 100%);

                .barCircle {
                    border-radius: 25px;
                    background: white;
                    margin: auto 1px;
                    height: 12px;
                    width: 12px;
                }
            }
        }

        .gygas {
            display: flex;
            justify-content: space-between;
        }
    }

}

.remainGb {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 131px;
    right: 31px;
    top: -36px;
    color: var(--veryDarkBlue);
    border-radius: 10px;
    background: white;
    font-weight: 700;
    font-size: 2rem;

    .gb {
        margin-left: 10px;
        font-size: 0.5rem;
        font-weight: 700;
    }

    .triangle {
        position: absolute;
        top: 41px;
        right: 0px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 26px 26px 0;
        border-color: transparent #ffffff transparent transparent;
    }

}

// responsive 

@media (max-width: 768px) {
    body {
        background-image: url(./../images/bg-mobile.png);
        background-size: cover;

    }

    h1 {
        font-size: 14px;
        align-self: center;
        margin-bottom: 15px;
    }

    .storage {
        display: grid;
        gap: 15px;
        grid-template-columns: 322px;
        padding: 10px;

    }

    .bar {
        margin-bottom: 20px;
    }

    .uploadSection {
        max-width: 360px;
        height: 185px;

        .files {
            gap: 20px;
        }

        .logo {
            width: 137px;
            margin-top: 1rem;
        }

        .square {
            height: 2.7rem;
            width: 2.7rem;

        }

        .click {

            width: 1.5rem;

        }
    }

    .capacity {
        max-width: 360px;
        min-width: 50px;
        height: 140px;
    }

    .remainGb {
        right: 81px;
        top: 106px;
        height: 70px;
        width: 160px;

        .gb {
            font-size: 0.8rem;
        }

        .triangle {
            display: none;
        }
    }

}